.fond {
  position: absolute;
  width: 270vw;
  transform: translateX(-50%);
  left: 50%;
}

body {
  overflow-x: hidden;
  position: relative;
}

.fa-right-to-bracket {
  font-size: 60px;
  z-index: 2;
  position: fixed;
  top: 50px;
  right: 40px;
  color: rgba(255, 255, 255, 0.784);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.474);
  transition: 0.3s ease-in-out;
  animation: bounce 1s infinite;
}

.fa-right-to-bracket:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.474);
  transition: box-shadow 0.3s ease-in-out;
  animation: rotate 1s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gallery-link {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.gallery-button {
  position: absolute;
  top: calc(50% + 1050px);
  left: calc(50% - 500px);
  padding: 10px 20px;
  font-size: 16px;
  background-color: #FFBD59;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}



.gallery-button:hover {
  background-color: transparent;
  color: #fff;
  transform: scale(1);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.12);
  letter-spacing: 1.5px;
}
@media screen and(max-width:414px) {
  
  
}
