* {
    margin: 0;
    box-sizing: border-box;
}

body{
    background: url(./img/Devouvez_nos_destination_de_reve__5.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    margin-top: 10px;
}