* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 80px;
}

h1 {
  color: #888;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  margin: 0;
  background-color: #fff;
  text-align: center;
  font-size: 24px;
  border-bottom: 1px solid #ccc;
  animation: fadeIn 1s ease-in-out;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.card {
  width: 400px;
  height: 600px;
  margin-top: 80px;
  animation: fadeIn 1s ease-in-out;
  margin-left: 700px;
}

.card-image {
  width: 100%;
  height: 100%;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: fadeInImage 1s ease-in-out;
  transition: 0.3s ease-out;
}

.card-image img:hover {
  transform: scale(1.1);
}

.card-description {
  padding: 10px;
  text-align: justify;
  animation: fadeIn 1s ease-in-out;
  width: 100%;

  transition: box-shadow 0.3s ease-in-out;
}

.card-description:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.card-description h2 {
  font-size: 18px;
  margin-bottom: 8px;
  text-decoration: underline;
}

.card-description p {
  font-size: 14px;
  color: #999;
  line-height: 1.5;
}

.slide-content {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 2px 3px black;
  animation: slideRight 0.9s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  opacity: 1;
  transform: translateX(0);
  max-width: 800px;
}

.slide-content h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.slide-content p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
  animation: slideRight 0.9s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

header {
  background: linear-gradient(to right, #ebebeb, #d2d2d2);
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  transition: background 0.3s ease-in-out;
}

header h1 {
  font-size: 24px;
  color: #333;
  margin-top: 0;
  position: relative;
  z-index: 3;
}

header nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  animation: fadeInImage 1s ease-in-out;
}

header nav ul li {
  display: inline;
  margin-right: 10px;
}

header nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: #fff;
  transition: 0.3s ease-in-out;
  transform: none;
}

header nav ul li a:hover {
  background: linear-gradient(to right, #ebebeb, #d2d2d2);
  color: #333333cc;
  transform: scale(1.1);
  letter-spacing: 2px;
}

.card-notes {
  position: absolute;
  left: 60px;
  top: 300px;
  display: flex;
  padding: 20px;
  border-radius: 5px;
}

.notes-contenaire {
  position: absolute;
  left: 100px;
  bottom: 180px;
}

.card-notes h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-notes p {
  margin-bottom: 5px;
}

.notes-contenaire {
  margin-top: 20px;
}

.notes {
  display: inline-block;
  align-items: center;
  margin-bottom: 10px;
}

.stars {
  font-size: 24px;
  color: #ffd700;
  margin-right: 10px;
}

.star {
  cursor: pointer;
}

.avis input[type="text"],
.avis input[type="submit"] {
  padding: 5px 10px;
}

.avis input[type="text"] {
  margin-right: 10px;
  width: 200px;
}

.avis input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.avis input[type="submit"]:hover {
  background-color: #00b318;
}

.stars {
  position: absolute;
  bottom: -20px;
}
.avis {
  position: relative;
  bottom: -50px;
}
.aviis {
  position: absolute;
  right: 1700px;
  top: 200px;
}

.stars {
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
}

.stars .star {
  color: #ddd;
}

.stars .star:hover,
.stars .star.active {
  color: #ffcc00;
}

.comment-bubble {
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.comment-columns {
  flex-wrap: wrap;

  bottom: 130px;
  display: flex;
  flex-direction: column;
}

.comment-bubble {
  max-width: 450px;

  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 40px;
  word-wrap: break-word;
}

.comment-columns {
  column-count: 2;
  column-gap: 5px;
}

.pagination {
  position: relative;
  bottom: 50px;
  margin-top: 390px;
  text-align: center;
}

.pagination a {
  display: inline-block;
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #f2f2f2;
  color: #333;
  text-decoration: none;
}

.pagination a.current-page {
  background-color: #333;
  color: #fff;
}

.toast {
  position: fixed;
  bottom: 100px;
  left: 80%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 9999;
  display: none;
  animation: fade-in 0.5s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.toast.show {
  display: block;
}

.toast a {
  color: white;
  text-decoration: underline;
}

.toast button {
  margin-left: 10px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#showMore {
  visibility: hidden;
}

@media screen and (max-width: 414px) {
  body {
    padding-top: 20px;
    /* overflow: scroll; */
  }

  h1 {
    font-size: 20px;
  }

  .card {
    width: 50%;
    height: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .card-description {
    padding: 5px;
  }

  .card-description:hover {
    box-shadow: none;
  }

  .card-notes {
    position: initial;
    flex-direction: column;
  }

  .card-image img {
    position: absolute;
    top: 140px;
    right: 30px;
    width: 90%;
    height: auto;
  }

  header nav ul {
    margin-top: 10px;
  }

  .notes-contenaire {
    margin-top: 100px;
  }

  .avis {
    margin-bottom: -50px;
    text-align: center;
  }

  .avis input[type="text"] {
  display: block;
  margin: auto;
  text-align: center;
  margin-left: -40px;
  margin-bottom: 10px;
}

.avis input[type="submit"]{
  margin-right: 30px;
}

.avis input[type="text"],
.avis input[type="submit"],
.stars {
  margin-top: 10px;
}


  .slide-content {
    margin-bottom: -80px;
    max-height: 160px;
    overflow: hidden;
  }

  .slide-content .truncated-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; /* Nombre de lignes à afficher */
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .slide-content .full-text {
    display: none;
  }

  #showMore {
    visibility: visible;
    display: block;
    margin-top: 10px;
    text-decoration: underline;
    cursor: pointer;
  }

  .slide-content.expanded {
    max-height: none;
  }

  .slide-content.expanded .truncated-text {
    display: none;
  }

  .slide-content.expanded .full-text {
    display: block;
  }

  .slide-content.expanded #productImage {
    display: none;
  }

  .slide-content p {
    font-size: 12px;
    animation: none;
  }

  .slide-content h2 {
    font-size: 15px;
  }

  .comment-columns {
    column-count: 1;
    column-gap: 0;
  }

  .pagination {
    margin-top: 20px;
  }

  .toast {
    bottom: 20px;
    left: 50%;
    transform: none;
  }
}
