* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 80px;
}

h1 {
  color: #888;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  margin: 0;
  background-color: #fff;
  text-align: center;
  font-size: 24px;
  border-bottom: 1px solid #ccc;
  animation: fadeIn 1s ease-in-out;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Ajout de cette ligne */
  margin: 0 auto;
}

.card {
  width: 400px;
  height: 600px;
  margin-top: 80px;
  animation: fadeIn 1s ease-in-out;
  margin-right: 100px;
}

.card-image {
  width: 100%;
  height: 100%;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: fadeInImage 1s ease-in-out;
  transition: 0.3s ease-out;
}

.card-image img:hover {
  transform: scale(1.1);
}

.card-description {
  padding: 10px;
  text-align: justify;
  animation: fadeIn 1s ease-in-out;
  width: 100%;
  transition: box-shadow 0.3s ease-in-out;
}

.card-description:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.card-description h2 {
  font-size: 18px;
  margin-bottom: 8px;
  text-decoration: underline;
}

.card-description p {
  font-size: 14px;
  color: #999;
  line-height: 1.5;
}

.slide-content {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 2px 3px black;
  animation: slideRight 0.9s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  opacity: 1;
  transform: translateX(0);
  max-width: 400px;
}

.slide-content h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.slide-content p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
  animation: slideRight 0.9s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

header {
  background: linear-gradient(to right, #ebebeb, #d2d2d2);
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  transition: background 0.3s ease-in-out;
}


header h1 {
  font-size: 24px;
  color: #333;
  margin-top: 0;
  position: relative;
  z-index: 3;
}

header nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  animation: fadeInImage 1s ease-in-out;
}

header nav ul li {
  display: inline;
  margin-right: 10px;
}

header nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: #fff;
  transition: 0.3s ease-in-out;
  transform: none;
}

header nav ul li a:hover {
  background: linear-gradient(to right, #ebebeb, #d2d2d2);
  color: #333333cc; /* Remplacez par la couleur de votre choix */
  transform: scale(1.1);
  letter-spacing: 2px;
}


.card-notes{
  position:absolute;
  left:60px;
  top: 300px;
  display: flex;

}

.notes-contenaire {

  position: absolute;
  left: 100px;
  bottom: 180px;

 
}
.card-notes {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}

.card-notes h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-notes p {
  margin-bottom: 5px;
}

.notes-contenaire {
  margin-top: 20px;
}

.notes {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.stars {
  font-size: 24px;
  color: #ffd700;
  margin-right: 10px;
}

.star {
  cursor: pointer;
}

.avis input[type="text"],
.avis input[type="submit"] {
  padding: 5px 10px;
}

.avis input[type="text"] {
  margin-right: 10px;
  width: 200px;
}

.avis input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.avis input[type="submit"]:hover {
  background-color: #00b318;
}


