.fond { position:relative;
   
    width:300vw;
    right:1900px;
 
}

body{    overflow-x: hidden;}

@media screen and (max-width:1200px) { 
body { 
    overflow-x: hidden;
}
    
}

.login { position:relative;
         Z-index:2px;
         margin-top:100px;
}